In [1]:
import pandas as pd
import re

In [6]:
df = pd.read_excel('data/trending_football_players.xlsx')

In [7]:
df.head()

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Current_contract,Value,Wage,Total_stats
0,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,"['CAM', 'CM', 'CF']",79,87,Atlanta United,2022 ~ 2025,€39.5M,€10K,2050
1,L. Palma,https://cdn.sofifa.net/player_0.svg,23,Honduras,['LW'],69,75,Celtic,2023 ~ 2028,€2.2M,€22K,1794
2,R. Lavia,https://cdn.sofifa.net/players/263/620/24_60.png,19,Belgium,['CDM'],73,86,Chelsea,2023 ~ 2030,€7M,€32K,1829
3,W. Zaïre-Emery,https://cdn.sofifa.net/players/270/673/24_60.png,17,France,"['CM', 'CDM']",77,89,Paris Saint Germain,2022 ~ 2025,€24M,€9K,2080
4,Gabri Veiga,https://cdn.sofifa.net/players/258/729/24_60.png,21,Spain,"['CM', 'CAM']",78,89,Al Ahli Jeddah,2023 ~ 2026,€31.5M,€28K,1944

In [8]:
df.dtypes

Player_name          object
Images               object
Age                   int64
National_team        object
Positions            object
Overall               int64
Potential_overall     int64
Current_club         object
Current_contract     object
Value                object
Wage                 object
Total_stats           int64
dtype: object

In [9]:
df.isnull().sum()

Player_name          0
Images               0
Age                  0
National_team        0
Positions            0
Overall              0
Potential_overall    0
Current_club         0
Current_contract     0
Value                0
Wage                 0
Total_stats          0
dtype: int64

In [10]:
df.duplicated().value_counts()

False    2306
True      694
dtype: int64

In [11]:
df.drop_duplicates(inplace = True)

In [12]:
df.reset_index(drop = True, inplace = True)

In [13]:
df.shape

(2306, 12)

In [14]:
df.Current_contract.unique()

array(['2022 ~ 2025', '2023 ~ 2028', '2023 ~ 2030', '2023 ~ 2026',
       '2022 ~ 2026', '2023 ~ 2029', '2022 ~ 2027', '2023 ~ 2027',
       '2022 ~ 2028', '2021 ~ 2028', '2020 ~ 2027', '2020 ~ 2025',
       '2020 ~ 2026', '2021 ~ 2027', '2017 ~ 2025', 'Jun 30, 2024',
       '2020 ~ 2024', '2022 ~ 2024', '2023 ~ 2025', '2018 ~ 2024',
       '2016 ~ 2027', '2015 ~ 2028', '2019 ~ 2028', '2017 ~ 2027',
       '2016 ~ 2026', '2019 ~ 2025', '2018 ~ 2027', '2021 ~ 2029',
       '2019 ~ 2026', 'Free', '2019 ~ 2027', '2021 ~ 2026', '2018 ~ 2026',
       '2015 ~ 2025', '2017 ~ 2028', '2023 ~ 2031', '2017 ~ 2032',
       '2021 ~ 2025', '2023 ~ 2024', '2020 ~ 2028', '2021 ~ 2024',
       '2018 ~ 2025', '2012 ~ 2024', 'Jun 30, 2025', '2018 ~ 2028',
       '2016 ~ 2025', '2019 ~ 2024', '2015 ~ 2024', '2013 ~ 2028',
       '2013 ~ 2025', '2019 ~ 2023', '2014 ~ 2027', '2014 ~ 2028',
       '2022 ~ 2022', '2008 ~ 2024', '2011 ~ 2024', '2010 ~ 2024',
       '2017 ~ 2024', '2020 ~ 2030', '2015 ~ 2029', 'Dec 31, 2023',
       'Jun 30, 2023', '2014 ~ 2024', '2012 ~ 2027', '2016 ~ 2024',
       '2021 ~ 2023', '2022 ~ 2023', '2017 ~ 2026', '2011 ~ 2023',
       '2017 ~ 2031', '2020 ~ 2022', '2017 ~ 2023', '2009 ~ 2024',
       '2012 ~ 2026', '2010 ~ 2026', '2023 ~ 2023', '2018 ~ 2023',
       'May 31, 2024', '2013 ~ 2026', '2015 ~ 2027', '2008',
       '2014 ~ 2017', '2020 ~ 2023', '2014 ~ 2026', '2018 ~ 2019',
       '2007 ~ 2022', '2013 ~ 2024', '2018 ~ 2022', '2016 ~ 2023',
       '2012 ~ 2025', '2014 ~ 2025', '2011 ~ 2026', '2015 ~ 2020',
       '2011 ~ 2025', 'Jan 1, 2024', '2011 ~ 2022', '1993 ~ 2017',
       '1999 ~ 2014', '2009 ~ 2012', '2015 ~ 2023', '2008 ~ 2017',
       '2019 ~ 2020', '2002 ~ 2018', '2020 ~ 2021', '2015 ~ 2016',
       '2015 ~ 2019', '2015 ~ 2017', '2019 ~ 2021', '2021 ~ 2021',
       'Jun 30, 2019', '2019 ~ 2022', 'Dec 31, 2024', '2018 ~ 2021'],
      dtype=object)

In [15]:
def name_process(value):
    value = str(value)
    value = re.sub(r"\d+", "", value)
    value = re.sub(r"\s+", " ", value)
    
    return value

In [16]:
values = df.pop('Current_contract')
Contract_start = []
Contract_end = []
for value in values:
    value = str(value)
    if value == "Free":
        Contract_start.append(value)
        Contract_end.append(value)
    else: 
        v = value.split('~')
        Contract_start.append(v[0])
        if len(v) > 1:
            Contract_end.append(v[1])
        else:
            Contract_end.append("")

df.insert(8, "Contract_end", Contract_end)
df.insert(8, "Contract_start", Contract_start)

In [17]:
df.head()

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Contract_start,Contract_end,Value,Wage,Total_stats
0,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,"['CAM', 'CM', 'CF']",79,87,Atlanta United,2022,2025,€39.5M,€10K,2050
1,L. Palma,https://cdn.sofifa.net/player_0.svg,23,Honduras,['LW'],69,75,Celtic,2023,2028,€2.2M,€22K,1794
2,R. Lavia,https://cdn.sofifa.net/players/263/620/24_60.png,19,Belgium,['CDM'],73,86,Chelsea,2023,2030,€7M,€32K,1829
3,W. Zaïre-Emery,https://cdn.sofifa.net/players/270/673/24_60.png,17,France,"['CM', 'CDM']",77,89,Paris Saint Germain,2022,2025,€24M,€9K,2080
4,Gabri Veiga,https://cdn.sofifa.net/players/258/729/24_60.png,21,Spain,"['CM', 'CAM']",78,89,Al Ahli Jeddah,2023,2026,€31.5M,€28K,1944

In [18]:
def convert_to_numeric(value):
    value = str(value)
    value = value.replace('€', '')  
    if 'K' in value:
        value = float(value.replace('K', '')) * 1000 
    elif 'M' in value:
        value = float(value.replace('M', '')) * 1000000
    elif 'B' in value:
        value = float(value.replace('B', '')) * 1000000000
    return value

In [19]:
def convert_pos(value):
    value = str(value)
    value = value.replace("[", "")
    value = value.replace("]", "")
    value = value.replace("'", "")
    return str(value)

In [20]:
df['Player_name'] = df['Player_name'].apply(name_process)

In [21]:
df['Value'] = df['Value'].apply(convert_to_numeric)

In [22]:
df['Wage'] = df['Wage'].apply(convert_to_numeric)

In [23]:
df['Positions'] = df['Positions'].apply(convert_pos)

In [24]:
df.head()

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Contract_start,Contract_end,Value,Wage,Total_stats
0,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,"CAM, CM, CF",79,87,Atlanta United,2022,2025,39500000.0,10000.0,2050
1,L. Palma,https://cdn.sofifa.net/player_0.svg,23,Honduras,LW,69,75,Celtic,2023,2028,2200000.0,22000.0,1794
2,R. Lavia,https://cdn.sofifa.net/players/263/620/24_60.png,19,Belgium,CDM,73,86,Chelsea,2023,2030,7000000.0,32000.0,1829
3,W. Zaïre-Emery,https://cdn.sofifa.net/players/270/673/24_60.png,17,France,"CM, CDM",77,89,Paris Saint Germain,2022,2025,24000000.0,9000.0,2080
4,Gabri Veiga,https://cdn.sofifa.net/players/258/729/24_60.png,21,Spain,"CM, CAM",78,89,Al Ahli Jeddah,2023,2026,31500000.0,28000.0,1944

In [25]:
df['Value'] = df['Value'].astype(float)

In [26]:
df['Wage'] = df['Wage'].astype(float)

In [27]:
df.dtypes

Player_name           object
Images                object
Age                    int64
National_team         object
Positions             object
Overall                int64
Potential_overall      int64
Current_club          object
Contract_start        object
Contract_end          object
Value                float64
Wage                 float64
Total_stats            int64
dtype: object

In [28]:
df.describe()

,Age,Overall,Potential_overall,Value,Wage,Total_stats
count,2306.000000,2306.000000,2306.000000,2.306000e+03,2306.000000,2306.000000
mean,24.049870,72.556375,78.978317,1.087117e+07,28703.837814,1786.042931
std,4.513141,6.871525,4.999736,1.688357e+07,38389.661725,259.468657
min,16.000000,49.000000,54.000000,0.000000e+00,0.000000,791.000000
25%,21.000000,68.000000,76.000000,1.900000e+06,5000.000000,1647.250000
50%,23.000000,73.000000,79.000000,4.300000e+06,15000.000000,1820.500000
75%,27.000000,77.000000,82.000000,1.250000e+07,38000.000000,1962.000000
max,44.000000,91.000000,94.000000,1.850000e+08,350000.000000,2323.000000

In [37]:
filename = 'data/updated_trending_football_players.xlsx'

In [39]:
df.to_excel(filename, index = False)